USE [master]
GO
/****** Object:  Database [AIInterviewPlatformDB]    Script Date: 6/6/2026 9:32:23 PM ******/
CREATE DATABASE [AIInterviewPlatformDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AIInterviewPlatformDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AIInterviewPlatformDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AIInterviewPlatformDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AIInterviewPlatformDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIInterviewPlatformDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIInterviewPlatformDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/6/2026 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[answer_evaluations]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer_evaluations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[interview_answer_id] [bigint] NOT NULL,
	[clarity_score] [decimal](5, 2) NULL,
	[structure_score] [decimal](5, 2) NULL,
	[relevance_score] [decimal](5, 2) NULL,
	[overall_score] [decimal](5, 2) NULL,
	[evaluated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authentication_accounts]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authentication_accounts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](500) NOT NULL,
	[is_verified] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedbacks]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedbacks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[answer_evaluation_id] [bigint] NOT NULL,
	[feedback_content] [nvarchar](max) NOT NULL,
	[feedback_type] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[improvement_suggestions]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[improvement_suggestions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[feedback_id] [bigint] NOT NULL,
	[suggestion_content] [nvarchar](max) NOT NULL,
	[priority_level] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interview_answers]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interview_answers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[interview_session_id] [bigint] NOT NULL,
	[interview_question_id] [bigint] NOT NULL,
	[answer_text] [nvarchar](max) NOT NULL,
	[submitted_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interview_questions]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interview_questions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[interview_session_id] [bigint] NOT NULL,
	[category_id] [bigint] NOT NULL,
	[question_template_id] [bigint] NULL,
	[question_content] [nvarchar](max) NOT NULL,
	[generated_by] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interview_sessions]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interview_sessions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[target_job_id] [bigint] NOT NULL,
	[session_status] [nvarchar](50) NOT NULL,
	[started_at] [datetime2](7) NOT NULL,
	[completed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_descriptions]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_descriptions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[target_job_id] [bigint] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[source_type] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learning_activities]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learning_activities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[roadmap_milestone_id] [bigint] NOT NULL,
	[skill_id] [bigint] NULL,
	[activity_title] [nvarchar](255) NOT NULL,
	[activity_description] [nvarchar](max) NULL,
	[activity_type] [nvarchar](50) NULL,
	[is_completed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learning_roadmaps]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learning_roadmaps](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[target_job_id] [bigint] NULL,
	[skill_gap_analysis_id] [bigint] NULL,
	[roadmap_title] [nvarchar](255) NOT NULL,
	[roadmap_status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[notification_type] [nvarchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[delivery_channel] [nvarchar](50) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[related_roadmap_progress_id] [bigint] NULL,
	[related_readiness_score_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[practice_histories]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[practice_histories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[interview_session_id] [bigint] NOT NULL,
	[practiced_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[progress_records]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[progress_records](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[readiness_score_id] [bigint] NULL,
	[progress_note] [nvarchar](max) NULL,
	[recorded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_categories]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_templates]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_templates](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_id] [bigint] NOT NULL,
	[template_content] [nvarchar](max) NOT NULL,
	[difficulty_level] [nvarchar](50) NULL,
	[is_active] [bit] NOT NULL,
	[created_by_admin_id] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[readiness_scores]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[readiness_scores](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[skill_gap_analysis_id] [bigint] NULL,
	[user_id] [bigint] NOT NULL,
	[score] [decimal](5, 2) NOT NULL,
	[score_type] [nvarchar](50) NOT NULL,
	[calculated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recommendations]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recommendations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[skill_gap_analysis_id] [bigint] NULL,
	[feedback_id] [bigint] NULL,
	[recommendation_content] [nvarchar](max) NOT NULL,
	[recommendation_type] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[required_skills]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[required_skills](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[job_description_id] [bigint] NOT NULL,
	[skill_id] [bigint] NOT NULL,
	[importance_level] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resumes]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resumes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_url] [nvarchar](500) NOT NULL,
	[parsed_content] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roadmap_milestones]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roadmap_milestones](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[learning_roadmap_id] [bigint] NOT NULL,
	[milestone_title] [nvarchar](255) NOT NULL,
	[milestone_order] [int] NOT NULL,
	[is_completed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roadmap_progress]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roadmap_progress](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[learning_roadmap_id] [bigint] NOT NULL,
	[completion_percentage] [decimal](5, 2) NOT NULL,
	[last_updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roadmap_recommendations]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roadmap_recommendations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[learning_roadmap_id] [bigint] NOT NULL,
	[recommendation_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_gap_analyses]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_gap_analyses](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[resume_id] [bigint] NOT NULL,
	[job_description_id] [bigint] NOT NULL,
	[analysis_status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_gaps]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_gaps](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[skill_gap_analysis_id] [bigint] NOT NULL,
	[skill_id] [bigint] NOT NULL,
	[gap_level] [nvarchar](50) NULL,
	[gap_description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_improvement_trends]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_improvement_trends](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[skill_id] [bigint] NOT NULL,
	[trend_score] [decimal](5, 2) NULL,
	[measured_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skills]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skills](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[skill_name] [nvarchar](255) NOT NULL,
	[skill_type] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[strength_weakness_reports]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[strength_weakness_reports](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[skill_gap_analysis_id] [bigint] NOT NULL,
	[report_type] [nvarchar](50) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_logs]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[action_type] [nvarchar](100) NOT NULL,
	[action_description] [nvarchar](max) NULL,
	[ip_address] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[target_jobs]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[target_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[job_title] [nvarchar](255) NOT NULL,
	[industry] [nvarchar](255) NULL,
	[experience_level] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usage_statistics]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usage_statistics](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[statistic_type] [nvarchar](100) NOT NULL,
	[statistic_value] [decimal](18, 2) NOT NULL,
	[measured_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_profiles]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_profiles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[education_level] [nvarchar](255) NULL,
	[career_goal] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_type] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[weak_communication_patterns]    Script Date: 6/6/2026 9:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weak_communication_patterns](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[feedback_id] [bigint] NOT NULL,
	[pattern_name] [nvarchar](255) NOT NULL,
	[pattern_description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[answer_evaluations] ON 

INSERT [dbo].[answer_evaluations] ([id], [interview_answer_id], [clarity_score], [structure_score], [relevance_score], [overall_score], [evaluated_at]) VALUES (1, 1, CAST(80.00 AS Decimal(5, 2)), CAST(75.00 AS Decimal(5, 2)), CAST(80.00 AS Decimal(5, 2)), CAST(78.33 AS Decimal(5, 2)), CAST(N'2026-05-30T16:33:43.7431781' AS DateTime2))
INSERT [dbo].[answer_evaluations] ([id], [interview_answer_id], [clarity_score], [structure_score], [relevance_score], [overall_score], [evaluated_at]) VALUES (2, 2, CAST(70.00 AS Decimal(5, 2)), CAST(75.00 AS Decimal(5, 2)), CAST(80.00 AS Decimal(5, 2)), CAST(75.00 AS Decimal(5, 2)), CAST(N'2026-05-30T16:37:36.3548770' AS DateTime2))
INSERT [dbo].[answer_evaluations] ([id], [interview_answer_id], [clarity_score], [structure_score], [relevance_score], [overall_score], [evaluated_at]) VALUES (3, 3, CAST(70.00 AS Decimal(5, 2)), CAST(75.00 AS Decimal(5, 2)), CAST(80.00 AS Decimal(5, 2)), CAST(75.00 AS Decimal(5, 2)), CAST(N'2026-05-30T16:37:36.4543999' AS DateTime2))
SET IDENTITY_INSERT [dbo].[answer_evaluations] OFF
GO
SET IDENTITY_INSERT [dbo].[authentication_accounts] ON 

INSERT [dbo].[authentication_accounts] ([id], [user_id], [email], [password_hash], [is_verified], [created_at], [updated_at]) VALUES (1, 1, N'admin@aiinterview.local', N'$2a$11$OyGY89bvQ8GiaKJkFxScce9RKyp/.D7RR0b7PoPm8Qy/FHU8YOTdS', 1, CAST(N'2026-05-18T16:04:57.3133333' AS DateTime2), CAST(N'2026-06-06T17:38:49.4300000' AS DateTime2))
INSERT [dbo].[authentication_accounts] ([id], [user_id], [email], [password_hash], [is_verified], [created_at], [updated_at]) VALUES (2, 2, N'minkkhoangg@gmail.com', N'$2a$11$4dNfplfqC8j9qlQE.70rEedDVSCyXA2CaSXbRM4uK/Q7h/j8P250O', 1, CAST(N'2026-05-20T16:18:43.4931037' AS DateTime2), NULL)
INSERT [dbo].[authentication_accounts] ([id], [user_id], [email], [password_hash], [is_verified], [created_at], [updated_at]) VALUES (3, 3, N'ba@gmail.com', N'$2a$11$41I2ctFmIiWHxjd0bSmbU.O.lysHpTXOsEoTXKh72LuOl36h/e6yC', 1, CAST(N'2026-05-21T13:42:21.4606413' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[authentication_accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[feedbacks] ON 

INSERT [dbo].[feedbacks] ([id], [answer_evaluation_id], [feedback_content], [feedback_type], [created_at]) VALUES (1, 1, N'Clear explanation.', N'CLARITY', CAST(N'2026-05-30T16:33:43.7818181' AS DateTime2))
INSERT [dbo].[feedbacks] ([id], [answer_evaluation_id], [feedback_content], [feedback_type], [created_at]) VALUES (2, 1, N'Answer structure should be improved.', N'STRUCTURE', CAST(N'2026-05-30T16:33:43.7821433' AS DateTime2))
INSERT [dbo].[feedbacks] ([id], [answer_evaluation_id], [feedback_content], [feedback_type], [created_at]) VALUES (3, 1, N'Relevant to the question.', N'RELEVANCE', CAST(N'2026-05-30T16:33:43.7821445' AS DateTime2))
SET IDENTITY_INSERT [dbo].[feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[interview_answers] ON 

INSERT [dbo].[interview_answers] ([id], [interview_session_id], [interview_question_id], [answer_text], [submitted_at]) VALUES (1, 1, 1, N'Dependency Injection in ASP.NET Core is a design pattern that allows services to be registered and injected into classes through constructors. It helps reduce coupling and improves testability.', CAST(N'2026-05-30T16:33:16.6682006' AS DateTime2))
INSERT [dbo].[interview_answers] ([id], [interview_session_id], [interview_question_id], [answer_text], [submitted_at]) VALUES (2, 3, 15, N'                        ', CAST(N'2026-05-30T16:37:36.3020307' AS DateTime2))
INSERT [dbo].[interview_answers] ([id], [interview_session_id], [interview_question_id], [answer_text], [submitted_at]) VALUES (3, 3, 16, N'                        ', CAST(N'2026-05-30T16:37:36.4322062' AS DateTime2))
SET IDENTITY_INSERT [dbo].[interview_answers] OFF
GO
SET IDENTITY_INSERT [dbo].[interview_questions] ON 

INSERT [dbo].[interview_questions] ([id], [interview_session_id], [category_id], [question_template_id], [question_content], [generated_by], [created_at]) VALUES (1, 1, 1, NULL, N'Explain the difference between class and interface in C#.', N'AI', CAST(N'2026-05-30T15:37:25.5967863' AS DateTime2))
INSERT [dbo].[interview_questions] ([id], [interview_session_id], [category_id], [question_template_id], [question_content], [generated_by], [created_at]) VALUES (2, 1, 1, NULL, N'Explain Dependency Injection in ASP.NET Core.', N'AI', CAST(N'2026-05-30T15:37:25.6417569' AS DateTime2))
INSERT [dbo].[interview_questions] ([id], [interview_session_id], [category_id], [question_template_id], [question_content], [generated_by], [created_at]) VALUES (3, 1, 1, NULL, N'How do you optimize SQL queries?', N'AI', CAST(N'2026-05-30T15:37:25.6429963' AS DateTime2))
SET IDENTITY_INSERT [dbo].[interview_questions] OFF
GO
SET IDENTITY_INSERT [dbo].[interview_sessions] ON 

INSERT [dbo].[interview_sessions] ([id], [user_id], [target_job_id], [session_status], [started_at], [completed_at]) VALUES (1, 2, 1, N'IN_PROGRESS', CAST(N'2026-05-30T15:37:24.9726921' AS DateTime2), NULL)
INSERT [dbo].[interview_sessions] ([id], [user_id], [target_job_id], [session_status], [started_at], [completed_at]) VALUES (2, 2, 2, N'COMPLETED', CAST(N'2026-05-30T15:46:42.2829546' AS DateTime2), CAST(N'2026-05-30T15:46:50.9689001' AS DateTime2))
INSERT [dbo].[interview_sessions] ([id], [user_id], [target_job_id], [session_status], [started_at], [completed_at]) VALUES (3, 2, 1, N'COMPLETED', CAST(N'2026-05-30T16:37:25.9012416' AS DateTime2), CAST(N'2026-05-30T16:37:54.0685854' AS DateTime2))
SET IDENTITY_INSERT [dbo].[interview_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[job_descriptions] ON 

INSERT [dbo].[job_descriptions] ([id], [target_job_id], [content], [source_type], [created_at]) VALUES (1, 1, N'We are looking for a Backend Developer with C#, ASP.NET Core, SQL Server, Entity Framework Core, REST API, JWT authentication, and Git experience.', N'MANUAL', CAST(N'2026-05-27T15:52:33.3180846' AS DateTime2))
INSERT [dbo].[job_descriptions] ([id], [target_job_id], [content], [source_type], [created_at]) VALUES (2, 1, N'We are looking for a Backend Developer with C#, ASP.NET Core, SQL Server, Entity Framework Core, REST API, JWT authentication, and Git experience.', N'MANUAL', CAST(N'2026-05-30T12:25:18.2385913' AS DateTime2))
INSERT [dbo].[job_descriptions] ([id], [target_job_id], [content], [source_type], [created_at]) VALUES (3, 2, N' C#, ASP.NET Core, SQL Server, Entity Framework, REST API, JWT, Git', N'MANUAL', CAST(N'2026-05-30T13:17:29.9767029' AS DateTime2))
INSERT [dbo].[job_descriptions] ([id], [target_job_id], [content], [source_type], [created_at]) VALUES (4, 3, N'Job Title

Sales Intern

Company Overview

ABC Technology is seeking a motivated Sales Intern to support our business development and customer acquisition activities. This internship provides hands-on experience in B2B sales, lead generation, customer communication, and CRM management.

Responsibilities
Research and identify potential customers through online channels.
Support lead generation and prospecting activities.
Contact potential clients via email, phone, and social media.
Schedule meetings between customers and Sales Executives.
Update customer information in CRM systems.
Assist in preparing sales presentations and proposals.
Follow up with leads and maintain customer relationships.
Collaborate with marketing teams on promotional campaigns.
Prepare weekly sales activity reports.
Requirements
Education
Final-year student or recent graduate in Business Administration, Marketing, Economics, or related fields.
Technical Skills
Basic understanding of sales processes.
Familiarity with CRM tools (HubSpot, Salesforce, Zoho CRM is a plus).
Proficiency in Microsoft Office (Excel, PowerPoint, Word).
Basic data analysis and reporting skills.
Soft Skills
Strong communication skills.
Presentation skills.
Negotiation skills.
Customer relationship management.
Problem-solving mindset.
Teamwork and collaboration.
Time management.
Language
Intermediate English communication skills.
Preferred Qualifications
Previous sales, marketing, or customer service experience.
Participation in business competitions or student organizations.
Experience using CRM software.
Benefits
Internship allowance.
Professional sales training.
Mentorship from experienced sales professionals.
Opportunity for full-time employment after internship.
Skills AI nên extract được

Nếu Skill Gap hoạt động đúng, AI thường extract:

Skill	Type
Communication	Soft Skill
Presentation	Soft Skill
Negotiation	Soft Skill
Customer Relationship Management	Soft Skill
Teamwork	Soft Skill
Time Management	Soft Skill
Lead Generation	Sales Skill
Prospecting	Sales Skill
CRM	Technical Skill
Excel	Technical Skill
Data Analysis	Technical Skill
English Communication	Language Skill
Trường hợp muốn test AI mạnh hơn

Dùng JD này:

Business Development / Sales Intern (B2B SaaS)

Thêm các skill:

Lead Generation
Sales Pipeline Management
Cold Calling
Email Outreach
CRM (HubSpot)
Market Research
Negotiation
Presentation
Data Analysis
English Communication', N'MANUAL', CAST(N'2026-06-02T13:44:35.7788135' AS DateTime2))
SET IDENTITY_INSERT [dbo].[job_descriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[question_categories] ON 

INSERT [dbo].[question_categories] ([id], [category_name]) VALUES (1, N'Behavioral')
INSERT [dbo].[question_categories] ([id], [category_name]) VALUES (3, N'Communication')
INSERT [dbo].[question_categories] ([id], [category_name]) VALUES (4, N'Problem Solving')
SET IDENTITY_INSERT [dbo].[question_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[required_skills] ON 

INSERT [dbo].[required_skills] ([id], [job_description_id], [skill_id], [importance_level]) VALUES (1, 1, 9, NULL)
INSERT [dbo].[required_skills] ([id], [job_description_id], [skill_id], [importance_level]) VALUES (2, 1, 10, NULL)
INSERT [dbo].[required_skills] ([id], [job_description_id], [skill_id], [importance_level]) VALUES (3, 1, 4, NULL)
SET IDENTITY_INSERT [dbo].[required_skills] OFF
GO
SET IDENTITY_INSERT [dbo].[skills] ON 

INSERT [dbo].[skills] ([id], [skill_name], [skill_type], [created_at]) VALUES (1, N'Communication', N'Soft Skill', CAST(N'2026-05-18T16:04:57.2900000' AS DateTime2))
INSERT [dbo].[skills] ([id], [skill_name], [skill_type], [created_at]) VALUES (2, N'Problem Solving', N'Soft Skill', CAST(N'2026-05-18T16:04:57.2900000' AS DateTime2))
INSERT [dbo].[skills] ([id], [skill_name], [skill_type], [created_at]) VALUES (3, N'Teamwork', N'Soft Skill', CAST(N'2026-05-18T16:04:57.2900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[skills] OFF
GO
SET IDENTITY_INSERT [dbo].[target_jobs] ON 

INSERT [dbo].[target_jobs] ([id], [user_id], [job_title], [industry], [experience_level], [created_at], [updated_at]) VALUES (1, 2, N'Senior Backend Developer', N'Software', N'Senior', CAST(N'2026-05-26T16:58:57.3550821' AS DateTime2), CAST(N'2026-05-26T17:03:10.7940932' AS DateTime2))
INSERT [dbo].[target_jobs] ([id], [user_id], [job_title], [industry], [experience_level], [created_at], [updated_at]) VALUES (2, 2, N'Backend Developer', N'Software', N'Junior', CAST(N'2026-05-26T17:02:16.7774398' AS DateTime2), NULL)
INSERT [dbo].[target_jobs] ([id], [user_id], [job_title], [industry], [experience_level], [created_at], [updated_at]) VALUES (3, 2, N'Fresher Intern Developer', N'Software', N'Intern', CAST(N'2026-05-27T16:41:56.2517431' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[target_jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[user_profiles] ON 

INSERT [dbo].[user_profiles] ([id], [user_id], [full_name], [phone], [education_level], [career_goal], [created_at], [updated_at]) VALUES (1, 1, N'System Administrator', NULL, NULL, N'Manage AI Interview Platform', CAST(N'2026-05-18T16:04:57.3166667' AS DateTime2), NULL)
INSERT [dbo].[user_profiles] ([id], [user_id], [full_name], [phone], [education_level], [career_goal], [created_at], [updated_at]) VALUES (2, 2, N'Truong Minh Hoang ', N'0326224661', N'', N'', CAST(N'2026-05-20T16:18:43.5361361' AS DateTime2), CAST(N'2026-05-27T15:31:31.6174465' AS DateTime2))
INSERT [dbo].[user_profiles] ([id], [user_id], [full_name], [phone], [education_level], [career_goal], [created_at], [updated_at]) VALUES (3, 3, N'Le Huy Ba', NULL, NULL, NULL, CAST(N'2026-05-21T13:42:21.4922514' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[user_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [user_type], [status], [created_at], [updated_at]) VALUES (1, N'ADMIN', N'ACTIVE', CAST(N'2026-05-18T16:04:57.3000000' AS DateTime2), CAST(N'2026-06-06T17:38:49.4300000' AS DateTime2))
INSERT [dbo].[users] ([id], [user_type], [status], [created_at], [updated_at]) VALUES (2, N'USER', N'ACTIVE', CAST(N'2026-05-20T16:18:42.9910097' AS DateTime2), CAST(N'2026-05-25T06:25:55.1105159' AS DateTime2))
INSERT [dbo].[users] ([id], [user_type], [status], [created_at], [updated_at]) VALUES (3, N'USER', N'ACTIVE', CAST(N'2026-05-21T13:42:20.6708106' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ__answer_e__C653337327F59E5A]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[answer_evaluations] ADD UNIQUE NONCLUSTERED 
(
	[interview_answer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__authenti__AB6E6164ECC0FF2E]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[authentication_accounts] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__authenti__B9BE370E6B0E7FDE]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[authentication_accounts] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_auth_email]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_auth_email] ON [dbo].[authentication_accounts]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_feedbacks_evaluation_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_feedbacks_evaluation_id] ON [dbo].[feedbacks]
(
	[answer_evaluation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_suggestions_feedback_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_suggestions_feedback_id] ON [dbo].[improvement_suggestions]
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_interview_answers_question_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_interview_answers_question_id] ON [dbo].[interview_answers]
(
	[interview_question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_interview_answers_session_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_interview_answers_session_id] ON [dbo].[interview_answers]
(
	[interview_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_interview_questions_category_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_interview_questions_category_id] ON [dbo].[interview_questions]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_interview_questions_session_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_interview_questions_session_id] ON [dbo].[interview_questions]
(
	[interview_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_interview_sessions_target_job_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_interview_sessions_target_job_id] ON [dbo].[interview_sessions]
(
	[target_job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_interview_sessions_user_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_interview_sessions_user_id] ON [dbo].[interview_sessions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_job_descriptions_target_job_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_job_descriptions_target_job_id] ON [dbo].[job_descriptions]
(
	[target_job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_activities_milestone_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_activities_milestone_id] ON [dbo].[learning_activities]
(
	[roadmap_milestone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_activities_skill_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_activities_skill_id] ON [dbo].[learning_activities]
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_learning_roadmaps_target_job_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_learning_roadmaps_target_job_id] ON [dbo].[learning_roadmaps]
(
	[target_job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_learning_roadmaps_user_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_learning_roadmaps_user_id] ON [dbo].[learning_roadmaps]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_notifications_type]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_notifications_type] ON [dbo].[notifications]
(
	[notification_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_notifications_user_read]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_notifications_user_read] ON [dbo].[notifications]
(
	[user_id] ASC,
	[is_read] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_practice_histories_user_time]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_practice_histories_user_time] ON [dbo].[practice_histories]
(
	[user_id] ASC,
	[practiced_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_progress_records_user_time]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_progress_records_user_time] ON [dbo].[progress_records]
(
	[user_id] ASC,
	[recorded_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__question__5189E2554B05C878]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[question_categories] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_readiness_scores_user_time]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_readiness_scores_user_time] ON [dbo].[readiness_scores]
(
	[user_id] ASC,
	[calculated_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_recommendations_analysis_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_recommendations_analysis_id] ON [dbo].[recommendations]
(
	[skill_gap_analysis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_recommendations_user_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_recommendations_user_id] ON [dbo].[recommendations]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_required_skill]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[required_skills] ADD  CONSTRAINT [uq_required_skill] UNIQUE NONCLUSTERED 
(
	[job_description_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_required_skills_jd_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_required_skills_jd_id] ON [dbo].[required_skills]
(
	[job_description_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_required_skills_skill_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_required_skills_skill_id] ON [dbo].[required_skills]
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_resumes_user_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_resumes_user_id] ON [dbo].[resumes]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_roadmap_milestone_order]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[roadmap_milestones] ADD  CONSTRAINT [uq_roadmap_milestone_order] UNIQUE NONCLUSTERED 
(
	[learning_roadmap_id] ASC,
	[milestone_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_milestones_roadmap_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_milestones_roadmap_id] ON [dbo].[roadmap_milestones]
(
	[learning_roadmap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__roadmap___D6D2B1BFDAA9F11B]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[roadmap_progress] ADD UNIQUE NONCLUSTERED 
(
	[learning_roadmap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_roadmap_recommendation]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[roadmap_recommendations] ADD  CONSTRAINT [uq_roadmap_recommendation] UNIQUE NONCLUSTERED 
(
	[learning_roadmap_id] ASC,
	[recommendation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_skill_gap_analyses_jd_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_skill_gap_analyses_jd_id] ON [dbo].[skill_gap_analyses]
(
	[job_description_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_skill_gap_analyses_resume_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_skill_gap_analyses_resume_id] ON [dbo].[skill_gap_analyses]
(
	[resume_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_skill_gap_analyses_user_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_skill_gap_analyses_user_id] ON [dbo].[skill_gap_analyses]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_skill_gap]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[skill_gaps] ADD  CONSTRAINT [uq_skill_gap] UNIQUE NONCLUSTERED 
(
	[skill_gap_analysis_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_skill_gaps_analysis_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_skill_gaps_analysis_id] ON [dbo].[skill_gaps]
(
	[skill_gap_analysis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_skill_gaps_skill_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_skill_gaps_skill_id] ON [dbo].[skill_gaps]
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_skill_trends_user_skill_time]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_skill_trends_user_skill_time] ON [dbo].[skill_improvement_trends]
(
	[user_id] ASC,
	[skill_id] ASC,
	[measured_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__skills__73C038AD8A85CA98]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[skills] ADD UNIQUE NONCLUSTERED 
(
	[skill_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_system_logs_created_at]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_system_logs_created_at] ON [dbo].[system_logs]
(
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_system_logs_user_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_system_logs_user_id] ON [dbo].[system_logs]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_target_jobs_user_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_target_jobs_user_id] ON [dbo].[target_jobs]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usage_statistics_type_time]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_usage_statistics_type_time] ON [dbo].[usage_statistics]
(
	[statistic_type] ASC,
	[measured_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__user_pro__B9BE370E5F896309]    Script Date: 6/6/2026 9:32:24 PM ******/
ALTER TABLE [dbo].[user_profiles] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_patterns_feedback_id]    Script Date: 6/6/2026 9:32:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_patterns_feedback_id] ON [dbo].[weak_communication_patterns]
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[answer_evaluations] ADD  DEFAULT (getdate()) FOR [evaluated_at]
GO
ALTER TABLE [dbo].[authentication_accounts] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[authentication_accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[feedbacks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[interview_answers] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[interview_questions] ADD  DEFAULT ('AI') FOR [generated_by]
GO
ALTER TABLE [dbo].[interview_questions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[interview_sessions] ADD  DEFAULT ('IN_PROGRESS') FOR [session_status]
GO
ALTER TABLE [dbo].[interview_sessions] ADD  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[job_descriptions] ADD  DEFAULT ('MANUAL') FOR [source_type]
GO
ALTER TABLE [dbo].[job_descriptions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[learning_activities] ADD  DEFAULT ((0)) FOR [is_completed]
GO
ALTER TABLE [dbo].[learning_roadmaps] ADD  DEFAULT ('ACTIVE') FOR [roadmap_status]
GO
ALTER TABLE [dbo].[learning_roadmaps] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ('IN_APP') FOR [delivery_channel]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[practice_histories] ADD  DEFAULT (getdate()) FOR [practiced_at]
GO
ALTER TABLE [dbo].[progress_records] ADD  DEFAULT (getdate()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[question_templates] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[question_templates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[readiness_scores] ADD  DEFAULT ('OVERALL') FOR [score_type]
GO
ALTER TABLE [dbo].[readiness_scores] ADD  DEFAULT (getdate()) FOR [calculated_at]
GO
ALTER TABLE [dbo].[recommendations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[resumes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[resumes] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[roadmap_milestones] ADD  DEFAULT ((0)) FOR [is_completed]
GO
ALTER TABLE [dbo].[roadmap_progress] ADD  DEFAULT ((0)) FOR [completion_percentage]
GO
ALTER TABLE [dbo].[roadmap_progress] ADD  DEFAULT (getdate()) FOR [last_updated_at]
GO
ALTER TABLE [dbo].[skill_gap_analyses] ADD  DEFAULT ('COMPLETED') FOR [analysis_status]
GO
ALTER TABLE [dbo].[skill_gap_analyses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[skill_improvement_trends] ADD  DEFAULT (getdate()) FOR [measured_at]
GO
ALTER TABLE [dbo].[skills] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[system_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[target_jobs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[usage_statistics] ADD  DEFAULT (getdate()) FOR [measured_at]
GO
ALTER TABLE [dbo].[user_profiles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('USER') FOR [user_type]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[answer_evaluations]  WITH CHECK ADD  CONSTRAINT [fk_evaluation_answer] FOREIGN KEY([interview_answer_id])
REFERENCES [dbo].[interview_answers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[answer_evaluations] CHECK CONSTRAINT [fk_evaluation_answer]
GO
ALTER TABLE [dbo].[authentication_accounts]  WITH CHECK ADD  CONSTRAINT [fk_auth_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[authentication_accounts] CHECK CONSTRAINT [fk_auth_user]
GO
ALTER TABLE [dbo].[feedbacks]  WITH CHECK ADD  CONSTRAINT [fk_feedback_evaluation] FOREIGN KEY([answer_evaluation_id])
REFERENCES [dbo].[answer_evaluations] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[feedbacks] CHECK CONSTRAINT [fk_feedback_evaluation]
GO
ALTER TABLE [dbo].[improvement_suggestions]  WITH CHECK ADD  CONSTRAINT [fk_suggestion_feedback] FOREIGN KEY([feedback_id])
REFERENCES [dbo].[feedbacks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[improvement_suggestions] CHECK CONSTRAINT [fk_suggestion_feedback]
GO
ALTER TABLE [dbo].[interview_answers]  WITH CHECK ADD  CONSTRAINT [fk_answer_question] FOREIGN KEY([interview_question_id])
REFERENCES [dbo].[interview_questions] ([id])
GO
ALTER TABLE [dbo].[interview_answers] CHECK CONSTRAINT [fk_answer_question]
GO
ALTER TABLE [dbo].[interview_answers]  WITH CHECK ADD  CONSTRAINT [fk_answer_session] FOREIGN KEY([interview_session_id])
REFERENCES [dbo].[interview_sessions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[interview_answers] CHECK CONSTRAINT [fk_answer_session]
GO
ALTER TABLE [dbo].[interview_questions]  WITH CHECK ADD  CONSTRAINT [fk_question_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[question_categories] ([id])
GO
ALTER TABLE [dbo].[interview_questions] CHECK CONSTRAINT [fk_question_category]
GO
ALTER TABLE [dbo].[interview_questions]  WITH CHECK ADD  CONSTRAINT [fk_question_session] FOREIGN KEY([interview_session_id])
REFERENCES [dbo].[interview_sessions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[interview_questions] CHECK CONSTRAINT [fk_question_session]
GO
ALTER TABLE [dbo].[interview_questions]  WITH CHECK ADD  CONSTRAINT [fk_question_template] FOREIGN KEY([question_template_id])
REFERENCES [dbo].[question_templates] ([id])
GO
ALTER TABLE [dbo].[interview_questions] CHECK CONSTRAINT [fk_question_template]
GO
ALTER TABLE [dbo].[interview_sessions]  WITH CHECK ADD  CONSTRAINT [fk_session_target_job] FOREIGN KEY([target_job_id])
REFERENCES [dbo].[target_jobs] ([id])
GO
ALTER TABLE [dbo].[interview_sessions] CHECK CONSTRAINT [fk_session_target_job]
GO
ALTER TABLE [dbo].[interview_sessions]  WITH CHECK ADD  CONSTRAINT [fk_session_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[interview_sessions] CHECK CONSTRAINT [fk_session_user]
GO
ALTER TABLE [dbo].[job_descriptions]  WITH CHECK ADD  CONSTRAINT [fk_jd_target_job] FOREIGN KEY([target_job_id])
REFERENCES [dbo].[target_jobs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[job_descriptions] CHECK CONSTRAINT [fk_jd_target_job]
GO
ALTER TABLE [dbo].[learning_activities]  WITH CHECK ADD  CONSTRAINT [fk_activity_milestone] FOREIGN KEY([roadmap_milestone_id])
REFERENCES [dbo].[roadmap_milestones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[learning_activities] CHECK CONSTRAINT [fk_activity_milestone]
GO
ALTER TABLE [dbo].[learning_activities]  WITH CHECK ADD  CONSTRAINT [fk_activity_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([id])
GO
ALTER TABLE [dbo].[learning_activities] CHECK CONSTRAINT [fk_activity_skill]
GO
ALTER TABLE [dbo].[learning_roadmaps]  WITH CHECK ADD  CONSTRAINT [fk_roadmap_analysis] FOREIGN KEY([skill_gap_analysis_id])
REFERENCES [dbo].[skill_gap_analyses] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[learning_roadmaps] CHECK CONSTRAINT [fk_roadmap_analysis]
GO
ALTER TABLE [dbo].[learning_roadmaps]  WITH CHECK ADD  CONSTRAINT [fk_roadmap_target_job] FOREIGN KEY([target_job_id])
REFERENCES [dbo].[target_jobs] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[learning_roadmaps] CHECK CONSTRAINT [fk_roadmap_target_job]
GO
ALTER TABLE [dbo].[learning_roadmaps]  WITH CHECK ADD  CONSTRAINT [fk_roadmap_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[learning_roadmaps] CHECK CONSTRAINT [fk_roadmap_user]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [fk_notification_readiness_score] FOREIGN KEY([related_readiness_score_id])
REFERENCES [dbo].[readiness_scores] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [fk_notification_readiness_score]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [fk_notification_roadmap_progress] FOREIGN KEY([related_roadmap_progress_id])
REFERENCES [dbo].[roadmap_progress] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [fk_notification_roadmap_progress]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [fk_notification_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [fk_notification_user]
GO
ALTER TABLE [dbo].[practice_histories]  WITH CHECK ADD  CONSTRAINT [fk_history_session] FOREIGN KEY([interview_session_id])
REFERENCES [dbo].[interview_sessions] ([id])
GO
ALTER TABLE [dbo].[practice_histories] CHECK CONSTRAINT [fk_history_session]
GO
ALTER TABLE [dbo].[practice_histories]  WITH CHECK ADD  CONSTRAINT [fk_history_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[practice_histories] CHECK CONSTRAINT [fk_history_user]
GO
ALTER TABLE [dbo].[progress_records]  WITH CHECK ADD  CONSTRAINT [fk_progress_record_score] FOREIGN KEY([readiness_score_id])
REFERENCES [dbo].[readiness_scores] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[progress_records] CHECK CONSTRAINT [fk_progress_record_score]
GO
ALTER TABLE [dbo].[progress_records]  WITH CHECK ADD  CONSTRAINT [fk_progress_record_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[progress_records] CHECK CONSTRAINT [fk_progress_record_user]
GO
ALTER TABLE [dbo].[question_templates]  WITH CHECK ADD  CONSTRAINT [fk_template_admin] FOREIGN KEY([created_by_admin_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[question_templates] CHECK CONSTRAINT [fk_template_admin]
GO
ALTER TABLE [dbo].[question_templates]  WITH CHECK ADD  CONSTRAINT [fk_template_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[question_categories] ([id])
GO
ALTER TABLE [dbo].[question_templates] CHECK CONSTRAINT [fk_template_category]
GO
ALTER TABLE [dbo].[readiness_scores]  WITH CHECK ADD  CONSTRAINT [fk_score_analysis] FOREIGN KEY([skill_gap_analysis_id])
REFERENCES [dbo].[skill_gap_analyses] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[readiness_scores] CHECK CONSTRAINT [fk_score_analysis]
GO
ALTER TABLE [dbo].[readiness_scores]  WITH CHECK ADD  CONSTRAINT [fk_score_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[readiness_scores] CHECK CONSTRAINT [fk_score_user]
GO
ALTER TABLE [dbo].[recommendations]  WITH CHECK ADD  CONSTRAINT [fk_recommendation_analysis] FOREIGN KEY([skill_gap_analysis_id])
REFERENCES [dbo].[skill_gap_analyses] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[recommendations] CHECK CONSTRAINT [fk_recommendation_analysis]
GO
ALTER TABLE [dbo].[recommendations]  WITH CHECK ADD  CONSTRAINT [fk_recommendation_feedback] FOREIGN KEY([feedback_id])
REFERENCES [dbo].[feedbacks] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[recommendations] CHECK CONSTRAINT [fk_recommendation_feedback]
GO
ALTER TABLE [dbo].[recommendations]  WITH CHECK ADD  CONSTRAINT [fk_recommendation_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recommendations] CHECK CONSTRAINT [fk_recommendation_user]
GO
ALTER TABLE [dbo].[required_skills]  WITH CHECK ADD  CONSTRAINT [fk_required_skill_jd] FOREIGN KEY([job_description_id])
REFERENCES [dbo].[job_descriptions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[required_skills] CHECK CONSTRAINT [fk_required_skill_jd]
GO
ALTER TABLE [dbo].[required_skills]  WITH CHECK ADD  CONSTRAINT [fk_required_skill_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([id])
GO
ALTER TABLE [dbo].[required_skills] CHECK CONSTRAINT [fk_required_skill_skill]
GO
ALTER TABLE [dbo].[resumes]  WITH CHECK ADD  CONSTRAINT [fk_resume_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[resumes] CHECK CONSTRAINT [fk_resume_user]
GO
ALTER TABLE [dbo].[roadmap_milestones]  WITH CHECK ADD  CONSTRAINT [fk_milestone_roadmap] FOREIGN KEY([learning_roadmap_id])
REFERENCES [dbo].[learning_roadmaps] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[roadmap_milestones] CHECK CONSTRAINT [fk_milestone_roadmap]
GO
ALTER TABLE [dbo].[roadmap_progress]  WITH CHECK ADD  CONSTRAINT [fk_progress_roadmap] FOREIGN KEY([learning_roadmap_id])
REFERENCES [dbo].[learning_roadmaps] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[roadmap_progress] CHECK CONSTRAINT [fk_progress_roadmap]
GO
ALTER TABLE [dbo].[roadmap_recommendations]  WITH CHECK ADD  CONSTRAINT [fk_rr_recommendation] FOREIGN KEY([recommendation_id])
REFERENCES [dbo].[recommendations] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[roadmap_recommendations] CHECK CONSTRAINT [fk_rr_recommendation]
GO
ALTER TABLE [dbo].[roadmap_recommendations]  WITH CHECK ADD  CONSTRAINT [fk_rr_roadmap] FOREIGN KEY([learning_roadmap_id])
REFERENCES [dbo].[learning_roadmaps] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[roadmap_recommendations] CHECK CONSTRAINT [fk_rr_roadmap]
GO
ALTER TABLE [dbo].[skill_gap_analyses]  WITH CHECK ADD  CONSTRAINT [fk_sga_jd] FOREIGN KEY([job_description_id])
REFERENCES [dbo].[job_descriptions] ([id])
GO
ALTER TABLE [dbo].[skill_gap_analyses] CHECK CONSTRAINT [fk_sga_jd]
GO
ALTER TABLE [dbo].[skill_gap_analyses]  WITH CHECK ADD  CONSTRAINT [fk_sga_resume] FOREIGN KEY([resume_id])
REFERENCES [dbo].[resumes] ([id])
GO
ALTER TABLE [dbo].[skill_gap_analyses] CHECK CONSTRAINT [fk_sga_resume]
GO
ALTER TABLE [dbo].[skill_gap_analyses]  WITH CHECK ADD  CONSTRAINT [fk_sga_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[skill_gap_analyses] CHECK CONSTRAINT [fk_sga_user]
GO
ALTER TABLE [dbo].[skill_gaps]  WITH CHECK ADD  CONSTRAINT [fk_skill_gap_analysis] FOREIGN KEY([skill_gap_analysis_id])
REFERENCES [dbo].[skill_gap_analyses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[skill_gaps] CHECK CONSTRAINT [fk_skill_gap_analysis]
GO
ALTER TABLE [dbo].[skill_gaps]  WITH CHECK ADD  CONSTRAINT [fk_skill_gap_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([id])
GO
ALTER TABLE [dbo].[skill_gaps] CHECK CONSTRAINT [fk_skill_gap_skill]
GO
ALTER TABLE [dbo].[skill_improvement_trends]  WITH CHECK ADD  CONSTRAINT [fk_trend_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([id])
GO
ALTER TABLE [dbo].[skill_improvement_trends] CHECK CONSTRAINT [fk_trend_skill]
GO
ALTER TABLE [dbo].[skill_improvement_trends]  WITH CHECK ADD  CONSTRAINT [fk_trend_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[skill_improvement_trends] CHECK CONSTRAINT [fk_trend_user]
GO
ALTER TABLE [dbo].[strength_weakness_reports]  WITH CHECK ADD  CONSTRAINT [fk_sw_report_analysis] FOREIGN KEY([skill_gap_analysis_id])
REFERENCES [dbo].[skill_gap_analyses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[strength_weakness_reports] CHECK CONSTRAINT [fk_sw_report_analysis]
GO
ALTER TABLE [dbo].[system_logs]  WITH CHECK ADD  CONSTRAINT [fk_system_log_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[system_logs] CHECK CONSTRAINT [fk_system_log_user]
GO
ALTER TABLE [dbo].[target_jobs]  WITH CHECK ADD  CONSTRAINT [fk_target_job_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[target_jobs] CHECK CONSTRAINT [fk_target_job_user]
GO
ALTER TABLE [dbo].[user_profiles]  WITH CHECK ADD  CONSTRAINT [fk_profile_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_profiles] CHECK CONSTRAINT [fk_profile_user]
GO
ALTER TABLE [dbo].[weak_communication_patterns]  WITH CHECK ADD  CONSTRAINT [fk_pattern_feedback] FOREIGN KEY([feedback_id])
REFERENCES [dbo].[feedbacks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[weak_communication_patterns] CHECK CONSTRAINT [fk_pattern_feedback]
GO
ALTER TABLE [dbo].[answer_evaluations]  WITH CHECK ADD  CONSTRAINT [chk_eval_clarity_score] CHECK  (([clarity_score] IS NULL OR [clarity_score]>=(0) AND [clarity_score]<=(100)))
GO
ALTER TABLE [dbo].[answer_evaluations] CHECK CONSTRAINT [chk_eval_clarity_score]
GO
ALTER TABLE [dbo].[answer_evaluations]  WITH CHECK ADD  CONSTRAINT [chk_eval_overall_score] CHECK  (([overall_score] IS NULL OR [overall_score]>=(0) AND [overall_score]<=(100)))
GO
ALTER TABLE [dbo].[answer_evaluations] CHECK CONSTRAINT [chk_eval_overall_score]
GO
ALTER TABLE [dbo].[answer_evaluations]  WITH CHECK ADD  CONSTRAINT [chk_eval_relevance_score] CHECK  (([relevance_score] IS NULL OR [relevance_score]>=(0) AND [relevance_score]<=(100)))
GO
ALTER TABLE [dbo].[answer_evaluations] CHECK CONSTRAINT [chk_eval_relevance_score]
GO
ALTER TABLE [dbo].[answer_evaluations]  WITH CHECK ADD  CONSTRAINT [chk_eval_structure_score] CHECK  (([structure_score] IS NULL OR [structure_score]>=(0) AND [structure_score]<=(100)))
GO
ALTER TABLE [dbo].[answer_evaluations] CHECK CONSTRAINT [chk_eval_structure_score]
GO
ALTER TABLE [dbo].[feedbacks]  WITH CHECK ADD  CONSTRAINT [chk_feedback_type] CHECK  (([feedback_type] IS NULL OR ([feedback_type]='OVERALL' OR [feedback_type]='COMMUNICATION' OR [feedback_type]='RELEVANCE' OR [feedback_type]='STRUCTURE' OR [feedback_type]='CLARITY')))
GO
ALTER TABLE [dbo].[feedbacks] CHECK CONSTRAINT [chk_feedback_type]
GO
ALTER TABLE [dbo].[improvement_suggestions]  WITH CHECK ADD  CONSTRAINT [chk_suggestion_priority] CHECK  (([priority_level] IS NULL OR ([priority_level]='HIGH' OR [priority_level]='MEDIUM' OR [priority_level]='LOW')))
GO
ALTER TABLE [dbo].[improvement_suggestions] CHECK CONSTRAINT [chk_suggestion_priority]
GO
ALTER TABLE [dbo].[interview_questions]  WITH CHECK ADD  CONSTRAINT [chk_question_generated_by] CHECK  (([generated_by]='ADMIN' OR [generated_by]='TEMPLATE' OR [generated_by]='AI'))
GO
ALTER TABLE [dbo].[interview_questions] CHECK CONSTRAINT [chk_question_generated_by]
GO
ALTER TABLE [dbo].[interview_sessions]  WITH CHECK ADD  CONSTRAINT [chk_session_status] CHECK  (([session_status]='CANCELLED' OR [session_status]='COMPLETED' OR [session_status]='IN_PROGRESS'))
GO
ALTER TABLE [dbo].[interview_sessions] CHECK CONSTRAINT [chk_session_status]
GO
ALTER TABLE [dbo].[job_descriptions]  WITH CHECK ADD  CONSTRAINT [chk_jd_source_type] CHECK  (([source_type]='AI_GENERATED' OR [source_type]='URL' OR [source_type]='UPLOAD' OR [source_type]='MANUAL'))
GO
ALTER TABLE [dbo].[job_descriptions] CHECK CONSTRAINT [chk_jd_source_type]
GO
ALTER TABLE [dbo].[learning_activities]  WITH CHECK ADD  CONSTRAINT [chk_activity_type] CHECK  (([activity_type] IS NULL OR ([activity_type]='OTHER' OR [activity_type]='QUIZ' OR [activity_type]='MOCK_INTERVIEW' OR [activity_type]='PRACTICE' OR [activity_type]='READING')))
GO
ALTER TABLE [dbo].[learning_activities] CHECK CONSTRAINT [chk_activity_type]
GO
ALTER TABLE [dbo].[learning_roadmaps]  WITH CHECK ADD  CONSTRAINT [chk_roadmap_status] CHECK  (([roadmap_status]='ARCHIVED' OR [roadmap_status]='COMPLETED' OR [roadmap_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[learning_roadmaps] CHECK CONSTRAINT [chk_roadmap_status]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [chk_delivery_channel] CHECK  (([delivery_channel]='EMAIL' OR [delivery_channel]='IN_APP'))
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [chk_delivery_channel]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [chk_notification_type] CHECK  (([notification_type]='SYSTEM' OR [notification_type]='READINESS_SCORE_IMPROVEMENT' OR [notification_type]='REMINDER'))
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [chk_notification_type]
GO
ALTER TABLE [dbo].[question_templates]  WITH CHECK ADD  CONSTRAINT [chk_template_difficulty] CHECK  (([difficulty_level] IS NULL OR ([difficulty_level]='HARD' OR [difficulty_level]='MEDIUM' OR [difficulty_level]='EASY')))
GO
ALTER TABLE [dbo].[question_templates] CHECK CONSTRAINT [chk_template_difficulty]
GO
ALTER TABLE [dbo].[readiness_scores]  WITH CHECK ADD  CONSTRAINT [chk_readiness_score_range] CHECK  (([score]>=(0) AND [score]<=(100)))
GO
ALTER TABLE [dbo].[readiness_scores] CHECK CONSTRAINT [chk_readiness_score_range]
GO
ALTER TABLE [dbo].[readiness_scores]  WITH CHECK ADD  CONSTRAINT [chk_readiness_score_type] CHECK  (([score_type]='BEHAVIORAL' OR [score_type]='COMMUNICATION' OR [score_type]='TECHNICAL' OR [score_type]='OVERALL'))
GO
ALTER TABLE [dbo].[readiness_scores] CHECK CONSTRAINT [chk_readiness_score_type]
GO
ALTER TABLE [dbo].[recommendations]  WITH CHECK ADD  CONSTRAINT [chk_recommendation_type] CHECK  (([recommendation_type] IS NULL OR ([recommendation_type]='GENERAL' OR [recommendation_type]='ROADMAP' OR [recommendation_type]='COMMUNICATION' OR [recommendation_type]='INTERVIEW' OR [recommendation_type]='SKILL')))
GO
ALTER TABLE [dbo].[recommendations] CHECK CONSTRAINT [chk_recommendation_type]
GO
ALTER TABLE [dbo].[required_skills]  WITH CHECK ADD  CONSTRAINT [chk_required_skill_importance] CHECK  (([importance_level] IS NULL OR ([importance_level]='CRITICAL' OR [importance_level]='HIGH' OR [importance_level]='MEDIUM' OR [importance_level]='LOW')))
GO
ALTER TABLE [dbo].[required_skills] CHECK CONSTRAINT [chk_required_skill_importance]
GO
ALTER TABLE [dbo].[roadmap_progress]  WITH CHECK ADD  CONSTRAINT [chk_roadmap_progress_percentage] CHECK  (([completion_percentage]>=(0) AND [completion_percentage]<=(100)))
GO
ALTER TABLE [dbo].[roadmap_progress] CHECK CONSTRAINT [chk_roadmap_progress_percentage]
GO
ALTER TABLE [dbo].[skill_gap_analyses]  WITH CHECK ADD  CONSTRAINT [chk_sga_status] CHECK  (([analysis_status]='FAILED' OR [analysis_status]='COMPLETED' OR [analysis_status]='PROCESSING' OR [analysis_status]='PENDING'))
GO
ALTER TABLE [dbo].[skill_gap_analyses] CHECK CONSTRAINT [chk_sga_status]
GO
ALTER TABLE [dbo].[skill_gaps]  WITH CHECK ADD  CONSTRAINT [chk_skill_gap_level] CHECK  (([gap_level] IS NULL OR ([gap_level]='CRITICAL' OR [gap_level]='HIGH' OR [gap_level]='MEDIUM' OR [gap_level]='LOW')))
GO
ALTER TABLE [dbo].[skill_gaps] CHECK CONSTRAINT [chk_skill_gap_level]
GO
ALTER TABLE [dbo].[skill_improvement_trends]  WITH CHECK ADD  CONSTRAINT [chk_trend_score] CHECK  (([trend_score] IS NULL OR [trend_score]>=(0) AND [trend_score]<=(100)))
GO
ALTER TABLE [dbo].[skill_improvement_trends] CHECK CONSTRAINT [chk_trend_score]
GO
ALTER TABLE [dbo].[strength_weakness_reports]  WITH CHECK ADD  CONSTRAINT [chk_sw_report_type] CHECK  (([report_type]='WEAKNESS' OR [report_type]='STRENGTH'))
GO
ALTER TABLE [dbo].[strength_weakness_reports] CHECK CONSTRAINT [chk_sw_report_type]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [chk_users_status] CHECK  (([status]='DELETED' OR [status]='LOCKED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [chk_users_status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [chk_users_user_type] CHECK  (([user_type]='ADMIN' OR [user_type]='USER'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [chk_users_user_type]
GO
USE [master]
GO
